<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/45678783-8214-4a06-b674-459fc609b72c/resourceGroups/learning-juho-heinonen/providers/Microsoft.Web/sites/juhohewebapp</ResourceId>
    <ResourceGroup>learning-juho-heinonen</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://juhohewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c516bc6c-e697-4433-bf18-d122252b7eb7</ProjectGuid>
    <PublishUrl>https://juhohewebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$juhohewebapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>